<br>

<div class="card">
  <div class="card-header">

    Lista Alumnos

  </div>

  <div class="card-body">

    <div class="row">

      <div class="col-md-2">Filtrar Por:</div>
      <div class="col-md-4">
        <input [(ngModel)] = "listaFilter" name="filter" class="form-control" type="text">
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">

        <h3>Filtro: {{listaFilter}}</h3>

      </div>

    </div>

    <div class="table-responsive">
      

      <table class="table table-striped" *ngIf="alumnos.length">
        <thead>
          <tr>
            <td><button (click)="showImagen()" class="btn btn-success">Mostrar Imagen</button></td>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Pago</th>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td><img *ngIf="muestraImg" [src]="alumno.foto" [title]="alumno.nombre" [style.width.px]="imageWith"
              [style.margin.px]="imageMargin"></td>
            <td>{{alumno.matriucula}}</td>
            <td>{{alumno.nombre | uppercase}}</td>
            <td>{{alumno.edad}}</td>
            <td>{{alumno.correo}}</td>
            <td>{{alumno.pago | currency}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
