<app-menu></app-menu>

<div class="container">

  <div class="row mt-3">

    <!-- <div class="col-lg-12"> -->

    <!-- <div>
        <h1>Hola Mundo en Angular</h1>
      </div>

      <p>{{grupo}}</p>

      <a href="">Resultado: {{duplicarN(2)}}</a><br><br>

      <div>
        <b>Matricula:</b> {{alumnos.matricula}}
      </div><br><br>
      <div>
        <b>Nombre:</b> {{alumnos.nombre | uppercase}}
      </div><br><br>
      <div>
        <b>Fecha Nacimiento:</b> {{alumnos.fechaNacimiento | date: "dd-MM-yy"}}
      </div><br><br>
      <div>
        <b>Pago:</b> {{alumnos.pago | currency}}
      </div>

      <hr>

      <br>

      <app-grupo></app-grupo>

      <br><hr><br>

      <app-ienv></app-ienv>

      <br><hr><br> -->

    <!-- <app-ird></app-ird> -->

    <!-- <app-alumno-reactive></app-alumno-reactive> -->

    <!-- </div> -->

    <!-- <app-suma></app-suma> -->

    <router-outlet></router-outlet>

    <hr>

    <!-- <app-operas-bas></app-operas-bas> -->

  </div>

</div>
